<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <header>
    <div>
        <p>Simple service built with some RxJs and a module that checks the current state of the network</p>
      <h1>Network Monitor Service</h1>
     
    </div>
  </header>
  
  
  <main>
      <section>
        <h2>Some Random Content</h2>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut accumsan, sem vitae lacinia tincidunt, nulla sapien posuere tellus, vitae imperdiet augue lorem sit amet nulla. Suspendisse et pharetra tortor. Mauris diam nulla, maximus sed aliquam ac, egestas vel erat. Suspendisse eu libero in ligula sollicitudin tincidunt. Sed euismod tortor a efficitur vulputate. In tempor lacus in urna commodo, quis facilisis enim aliquet. Ut pretium eros quis bibendum sollicitudin. Etiam sit amet mi dapibus, blandit justo sed, tincidunt elit. Nunc congue quis erat nec faucibus. Mauris id turpis ac justo mollis bibendum ac in augue. Etiam diam eros, consectetur sed ultricies tincidunt, elementum sed lorem.</p>
        
          <p>Suspendisse viverra, justo vitae posuere varius, nunc lorem ultricies velit, sit amet ultrices nunc lacus ac lacus. Donec vel est nec velit gravida aliquet non quis erat. Curabitur vulputate arcu vitae ante egestas, ut fringilla nisl tempus. Donec ornare ante in mauris porttitor pharetra mollis at nisi. Quisque vel nibh velit. Donec eu erat eros. Curabitur dictum faucibus lorem ac tempus. Sed pellentesque ante et dui elementum, quis aliquam velit rhoncus. Aliquam ut finibus sem, et ultricies quam. Curabitur rutrum tellus ut libero sodales, vitae varius erat rhoncus. Duis accumsan sapien ipsum, at elementum felis tempor vitae. Fusce iaculis enim nec tortor facilisis mattis. Aenean mollis pulvinar nisl, non sollicitudin neque congue id. Sed ex lorem, porttitor vitae porttitor sit amet, iaculis ac sem. In vel tortor et est consequat maximus at id enim.</p>
        
        </div>
        
      </section>
  </main>
  
  </div>
  
  